/* Обнуление*/
*{
    padding: 0;
    margin: 0;
    border: 0
    /* Для элементов которые имеют дефолтные отступы */
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    /* Стандартные значения html и body */
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

/*-------------------------*/

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Readex Pro', sans-serif;
}
.container{
    width: 1300px;
    height: 100%;
}

header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#logo{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 900;
}

nav{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a{
    color: black;
    font-family: 'Inter', sans-serif;
}

#searchAndBucket{
    width: 20%;
    height: 100%;
    background-color: #DCE5E2;
}

/* MAIN */

.phones{
    width: 100%;
    height: 550px;
    background-color: #DCE5E2;
    border-radius: 30px;
    display: flex;
    margin-bottom: 20px;
}

#wrapper_words button:hover{
    background-color: black;
    color: #DCE5E2;
}

#phones_left, #phones_right{
    width: 50%;
    height: 100%;
}

#phones_right{
    background-image: url("source/phones.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}

#wrapper_words{
    margin-left: 55px;
    margin-top: 144px;
}

h2{
    font-size: 58px;
    margin-bottom: 25px;
    line-height: 1.2;
    letter-spacing: 2px;
}

#wrapper_words p{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.5px;
    margin-bottom: 25px;
}

#wrapper_words button{
    height: 50px;
    width: 170px;
    background-color: transparent;
    border: 1px solid black;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    border-radius: 30px;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.devices{
    width: 100%;
    height: 1018px;
    padding-top: 20px;
}

#main_text{
    width: 100%;
    height: 114px;
    text-align: center;
    margin-bottom: 40px;
    line-height: 1.2;
    padding-top: 40px;
}

#main_text h3{
    font-size: 42px;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
}

#main_text p{
    width: 628px;
    padding: 0 20px;
    margin: auto;
    font-size: 14px;
}

.device_container{
    width: 100%;
    height: 792px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vertical{
    width: 296px;
    height: 95%;
    box-shadow: 0px 0px 14px 5px lightgrey;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vertical:hover{
    height: 100%;
    width: 312px;
}

.horizontal_container{
    height: 100%;
    width: 639px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#first_horizontal{
    height: 448px;
    width: 95%;
    box-shadow: 0px 0px 14px 5px lightgrey;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

#first_horizontal:hover{
    height: 472px;
    width: 100%;
}

#second_horizontal{
    width: 95%;
    height: 256px;
    box-shadow: 0px 0px 14px 5px lightgrey;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    display: flex;
    justify-content: space-around;
}

#second_horizontal:hover{
    width: 100%;
    height: 270px;
}


#macbook_photo{
    background-image: url("source/macbook.png");
    background-position: 0 0;
    background-size: cover;
    margin-left: 40px;
    width: 80%;
    height: 80%;
}

#macbook_description{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 40px;
    text-align: right;
}

.device_container p{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

h4{
    font-family: 'Readex Pro', sans-serif;
    font-size: 32px;
    line-height: 1.2;
}

#watch_photo{
    background-image: url("source/watch.png");
    background-position: 0 0;
    background-size: cover;
    width: 60%;
}

#watch_description{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}

#iphone_photo{
    background-image: url("source/iphones.png");
    background-position: 20px 0;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 50%;
}

#iphone_description, #ipad_description{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 40px 0;
    
}

#ipad_photo{
    background-image: url("source/ipad.png");
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50%;
}



